@model FileTemplateManager.Models.AnswerModel

@{
	ViewBag.Title = "SetAnswer";
}

<h2>SetAnswer</h2>

<form name="form1" method="post" enctype="multipart/form-data" action="api/upload">

	@Html.Label("Project");

	@Html.DropDownList(
		"selectedProject",
		Model.Projects
			.Select(q => new SelectListItem()
			{
				Text = q,
				Value = q,
			}),
		"Select project"
	)

	@Html.Label("Question");

	@Html.DropDownList(
		"selectedQuestion",
		Model.Questions
			.Select(q => new SelectListItem()
			{
				Text = q,
				Value = q,
			}),
		"Select question"
	)

	@Html.Label("Upload image")

	<input type="file" name="image" />

	<input type="submit" name="submit" value="Upload" class="btn btn-default" />
</form>


