@model FileTemplateManager.Models.TemplateModel
@using Bussiness

<input type='hidden' name='oldSelectedProjectId' value='@Model.SelectedProjectId' />

<table id="tableFields" class="table table-bordered">
	<tbody id="tableBody">
		<tr>
			<td>@Html.Label("Sample File Name", new { @class = "control-label col-md-2" })</td>
			<td colspan="2">@Html.DisplayTextFor(f => f.SampleFileName)</td>
		</tr>
		<tr>
			<th colspan="3">
				@Html.Label("Select custom fields", new { @class = "control-label col-md-2" })
			</th>
		</tr>

@{
	int i = 0;
	foreach (AvaliableFields field in Model.SelectedFields)
	{
		<tr>
			<td></td>
			<td>
				@Html.DropDownList(
					 "Select" + i,
						 Model.Fields
						 .Where(x => x.IsUsed == false || x.Field == field)
						 .Select(x => new SelectListItem
						 {
							 Text = x.Field.ToString(),
							 Value = x.Field.ToString(),
							 Selected = field == x.Field
						 }),
					 new { onchange = "$('form').submit();", Name = "SelectedFields", @class = "form-control" }
				 )
			</td>

			<td>
				@if (i != 0)
				{ 
					@Ajax.ActionLink(
						"X",
						"RemoveField",
						new {
							controller = "ManageTemplate",
							action = "RemoveField",
							id = Model.SelectedProjectId,
							Separator = Model.Separator,
							SelectedFields = String.Join("-", Model.SelectedFields.Select(x => (int)x).ToArray()),
							IndexToRemove = i
						},
						new AjaxOptions()
						{
							HttpMethod = "POST",
							InsertionMode = InsertionMode.Replace,
							UpdateTargetId = "result"
						},
						new { @class = "btn btn-default btn-danger" }
					)
				}
				@{i++;}
			</td>
		</tr>
						}

		<tr>
			<td>
				@{if (Model.Fields.Count != Model.SelectedFields.Count)
					{
						@Ajax.ActionLink(
							"+",
							"AddField",
							new {
								controller = "ManageTemplate",
								action = "AddField",
								id =Model.SelectedProjectId,
								Separator = Model.Separator,
								SelectedFields = String.Join("-", Model.SelectedFields.Select(x => (int)x).ToArray())
							},
							new AjaxOptions()
							{ HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "result" },
							new { @class = "btn btn-default btn-success" }
						)
					}
				}
			</td>
			<td></td>
			<td></td>
		</tr>

		<tr>
			<th colspan="3">
				@Html.Label("Select separator", new { @class = "control-label col-md-2" })
			</th>
		</tr>

		<tr>
			<td></td>
			<td>
				@Html.DropDownList(
					"SeparatorDropDownList",
					Enum.GetValues(typeof(Separators))
						.Cast<Separators>()
						.Select(x => new SelectListItem
						{
							Value = x.ToString(),
							Text = x.ToString(),
							Selected = x == Model.Separator
						}),
					new { onchange = "$('form').submit();", Name = "Separator", @class = "form-control" }
				)
				</td>
				<td></td>
			</tr>
		}
	</tbody>
</table>

<p>
	@Ajax.ActionLink(
		"Save",
		"Save",
		new
		{
			controller = "ManageTemplate",
			action = "Save",
			id = Model.SelectedProjectId,
			Separator = Model.Separator,
			SelectedFields = String.Join("-", Model.SelectedFields.Select(x => (int)x).ToArray())
		},
		new AjaxOptions()
		{
			HttpMethod = "POST",
			InsertionMode = InsertionMode.Replace,
			UpdateTargetId = "result"
		},
		new { @class = "btn btn-default btn-green" }
	)
</p>